#heading{
display: flex;
justify-content: center;
}

body{
    background-color:#64ffda;
}

#welcome { 
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 20px 10px;
    font-weight: 500;
    border: 5px solid black;

}

#inputCard {
    height: 360px;
    margin-top: 130px;
    margin-right: 100px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0px 30px 10px rgb(98, 98, 192);
    border: 2px solid black;
}

#aboutCard {
    font-size: 25px;
    height: 600px;
    width: 400px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0px 30px 10px rgb(98, 98, 192);
    border: 2px solid black;
}

.white-text {
    font-weight: 500;
}

#music-notes {
    width: 300px;
    padding: 50px;
}
